.filter-section {
    color: black; 
    background: linear-gradient(135deg, #d4e8ff, #5096e7);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 470px;
    margin: 20px;
}

.filter-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    list-style: none;

}


.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    
}

.checkbox-group input[type="checkbox"] {
    accent-color: #6ca0dc;
}
.profile-cont{
    width: 470px;
    height: 250px;
    background-image: url("src/assets/profile-bg.jpg");
    background-size: contain;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black;
    /* margin-left: 19px; */
}
