*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.job-list-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.card-cont {
    width: 800px;
    background: linear-gradient(135deg, #d4e8ff, #5096e7); 
    background-size: cover;
    border-radius: 10px;
    border: 1px solid #6ca0dc; 
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}


.upper-cont{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: flex-start; 

}
.icon-cont{
    display: flex;
    gap:5px;
}
.upper-second-cont{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.location-jobtype-cont{
    display: flex;
    gap: 20px;
}
.icon-cont{
    display: flex;
    gap:5px;
}
