
body, html {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    height: 100%;
}
.home-cont {
    height: 100vh;
    background-image: url("src/assets/bg-img.png"); 
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px;
}
.home-content{
    width: 35%;
    height: 40%;
    margin-left: 30px;
    position:absolute;
    top: 25%;
    padding: 10px;
    color: rgb(6, 24, 41);
}
.home-content h1{
    font-size: 55px;
}
.home-content p {
    font-size: 18px;
}
.home-content button{
    background-color: #042e58;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: #103677;
    border: 1px solid black;
}




@media screen and (max-width: 768px){

    
    .home-cont {
        background-image: url("src/assets/bg-img-768px.png"); 
        background-size: cover; 
        background-position: center ;
        height: 100vh;
    }
      
  
    .home-content{
        width: 80%;
        height: auto;
        margin-top: 30%;
    }
    .home-content h1{
        font-size: 1.25rem;
    }
    
    .home-content p{
        font-size: 0.70rem;
        
    }
    .home-content button{
        width: 270px;
        font-size: 12px;
    }

}

